/* proprietà generali */
section{
  border: 1px solid brown;
}
.container-fluid{
  /* background-color: rgb(0, 0, 0,0.8); */
  border: 1px solid PURPLE;
  min-height:50px;
  padding: 0 0;
}
.container{
  border: 1px solid black;
  min-height: 40px;
}
img{
  height: auto;
  width: 100%;
}
.row{
  border: 1px solid red;
  min-height: 20px;
  width: 100%;
}
.col{
  border: 1px solid yellow;
  min-height: 50px;
}

/* proprietà sez1 */
.sez-1{
  background-color: rgb(245, 245, 245);
  height: 530px;
}
.sez-1 >.row{
  background-color: rgb(255, 255, 255);
}

/* proprietà sez2 */
.sez-2{
  height: 350px;
}

/* proprietà sez3 */
.sez-3{
  background-color: rgb(85, 160, 152);
  height: 200px;
}

/* proprietà sez4 */
.sez-4{
 height: 1200px;
}
.sez-4 > .container{
  height: 1100px;
}
.hr{
  border: 1px solid black;
  width: 20%;
}
.box-info{
  width: 100%;
  margin: 5px;
  background-color: rgb(237, 236, 236);
}
.box-info > img{
  height: 50%;
  width: auto;
}

/* proprietà sez5 */
.sez-5{
  color: rgb(255, 255, 255);
  background-color: blue;
  height: 400px;
}

#logo{
  height: auto;
  width: 10%;
  }
