<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>Law</title>
  </head>
  <body >
  <div id="app">

<!-- header con due nav(nav e main-nav) -->
    <header >

      <!-- nav mini -->
      <nav class="container-fluid mini-nav ":class="active==true?'none':''">
        <div class="container d-flex flex-column justify-content-around align-items-center">
          <div class="row p-1 d-flex align-items-center">

            <!-- info mini-nav -->
            <div class="col d-flex align-items-center">
              <p>{{descrizioneNav}}</p>
            </div>

            <!-- colonna social mini-nav -->
            <div   class="col-2 d-flex justify-content-around align-items-center ">
              <a v-for="icon in arraySocial"href="#">
                <i :class="icon"> </i>
              </a>
            </div>
          </div>
        </div>
      </nav>

      <!-- main nav fixed -->

        <nav id="main-nav" :class="active==true?'fixed-top':''" class="container-fluid main-nav d-flex align-items-center  ">
          <div class="container d-flex flex-column justify-content-around align-items-center">
            <div class="row p-1 d-flex align-items-center">

              <!-- logo main-nav -->
              <div class="col-3 d-flex align-items-center">
                <img :src="logo" alt="Responsive image">
              </div>

              <!-- link main-nav -->
              <div   class="col d-flex justify-content-around align-items-center ">
                <div v-for="link in arrayLink" :key="link.key" >
                  <a href="#">{{link.nome}}</a>
                </div>
              </div>
            </div>
          </div>
        </nav>

    </header>

    <!-- main con JUMBOTRON e 7 sezioni -->
    <main>

      <div class="container-fluid ">
        
<!-- jumbotron -->
        <div class="jumbo"></div>


<!-- sezione1 -->
      <section class="sez-1 d-flex justify-content-center align-items-center">

        <div class="container d-flex justify-content-center">
          <div class="row info-sez-1">

            <!-- devo inserire tre colonne uguali farne una e duplicarla MANCANO I BOTTONI-->
            <div class="col d-flex flex-column justify-content-around align-items-center">
              <div class="title">
                <h4>WHO WE ARE</h4>
              </div>
              <div class="paragrafo">
                <p>Nullam fringilla tristique elit id varius. Nulla lacinia quam nec venenatis dignissim. Vivamus volutpat tempus semper. Cras feugiat mi sit amet risus consectetur.</p>
              </div>
              <button type="button" id="btn-black" class="btn btn-primary btn-lg">Learn more</button>
            </div>

            <div class="col d-flex flex-column justify-content-around align-items-center">
              <div class="title">
                <h4>WHAT WE DO</h4>
              </div>
              <div class="paragrafo">
                <p>Nullam fringilla tristique elit id varius. Nulla lacinia quam nec venenatis dignissim. Vivamus volutpat tempus semper. Cras feugiat mi sit amet risus consectetur.</p>
              </div>
              <button type="button" id="btn-black" class="btn btn-primary btn-lg">Learn more</button>

            </div>

            <div class="col d-flex flex-column justify-content-around align-items-center">
              <div class="title">
                <h4>WHERE WE WORK</h4>
              </div>
              <div class="paragrafo">
                <p>Nullam fringilla tristique elit id varius. Nulla lacinia quam nec venenatis dignissim. Vivamus volutpat tempus semper. Cras feugiat mi sit amet risus consectetur.</p>
              </div>
              <button type="button"  id="btn-black" class="btn btn-primary btn-lg">Learn more</button>

            </div>

          </div>
        </div>

      </section>

<!-- sezione2 -->
      <section class="sez-2 d-flex justify-content-center align-items-center">
        <div class="container d-flex justify-content-center">
          <div class="row">
            <!-- inserire quattro colonne uguali -->
            <div class="col d-flex flex-column justify-content-around align-items-center">
              <i class="far fa-check"></i>
              <div class="title">
                <h4>A GLOBAL VIEW</h4>
              </div>
              <div class="paragrafo">
                <p>
                  Nullam fringilla tristique elit id varius ipsums. Lorem lacinia quam nec venenatis sadips dignissim.
                </p>
              </div>
            </div>

            <div class="col d-flex flex-column justify-content-around align-items-center">
              <i class="far fa-check"></i>
              <div class="title">
                <h4>EXPERT LAWYERS</h4>
              </div>
              <div class="paragrafo">
                <p>
                  Nullam fringilla tristique elit id varius ipsums. Lorem lacinia quam nec venenatis sadips dignissim.
                </p>
              </div>
            </div>

            <div class="col d-flex flex-column justify-content-around align-items-center">
              <i class="far fa-check"></i>
              <div class="title">
                <h4>CLIENT FOCUS</h4>
              </div>
              <div class="paragrafo">
                <p>
                  Nullam fringilla tristique elit id varius ipsums. Lorem lacinia quam nec venenatis sadips dignissim.
                </p>
              </div>
            </div>

            <div class="col d-flex flex-column justify-content-around align-items-center">
              <i class="far fa-check"></i>
              <div class="title">
                <h4>LOCAL KNOWLEDGE</h4>
              </div>
              <div class="paragrafo">
                <p>
                  Nullam fringilla tristique elit id varius ipsums. Lorem lacinia quam nec venenatis sadips dignissim.
                </p>
              </div>
            </div>

          </div>
        </div>
      </section>

<!-- sezione3 -->
      <section class="sez-3 d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row ">
            <div class="col d-flex align-items-center">
              <h4 id="white">QUESTIONS ABOUT A JUDICIAL ISSUE? ASK OUR EXPERTS.</h4>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
              <button type="button" name="button" id="btn-green" class="btn btn-primary btn-lg">Ask an Expert</button>
            </div>
          </div>
        </div>
      </section>

<!-- sezione4 -->
      <section class="sez-4 d-flex justify-content-center align-items-center">
        <div class="container d-flex flex-column justify-content-around align-items-center">

          <div class="row d-flex flex-column align-items-center">
            <h4 class="p-3">GLOBAL CHALLENGE. WORLD CLASS RESPONSE</h4>
            <div class="hr "></div>
          </div>

          <div class="row">
            <!-- inserisco 3 colonne in flex  -->
            <!-- prima colonna OUR PEOPLE con 6 box info-->
            <div class="col d-flex flex-column justify-content-around align-items-center ">
              <div class="title ">
                <h5>OUR PEOPLE</h5>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column1-image1.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column1-image2.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column1-image3.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column1-image4.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column1-image5.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column1-image6.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
            </div>

            <!-- seconda colonna AREAS -->
            <div class="col d-flex flex-column justify-content-around align-items-center ">
              <div class="title ">
                <h5>OUR PRACTICE AREAS</h5>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column2-image1.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column2-image2.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column2-image3.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column2-image4.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column2-image5.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column2-image6.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
            </div>

            <!-- terza colonna PUBLICATIONS -->
            <div class="col d-flex flex-column justify-content-around align-items-center ">
              <div class="title ">
                <h5>OUR PUBLICATIONS</h5>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column3-image1.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column3-image2.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column3-image3.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column3-image4.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column3-image5.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
              <div class="box-info p-2 d-flex align-items-center ">
                <img src="img/column3-image6.jpg" alt="Responsive image" class="p-1">
                <span class="p-2">Name</span>
              </div>
            </div>

          </div>

        </div>
      </section>

<!-- sezione5 -->
      <section class="sez-5 d-flex justify-content-center align-items-center">
        <div class="container d-flex justify-content-center">
        <div class="row info-sez-5">
          <div class="col p-2 d-flex flex-column justify-content-around align-items-center">
            <img id="logo" class="p-2" src="img/envato-logo.png" alt="Responsive image">
            <p id="white">“We have worked with Avada Law for the past 15 years. As we have grown and evolved, what I have valued most about our relationship is that Avada Law know us and our business.”</p>
            <h6>Nigel Rawlinson • Senior Partner</h6>
          </div>
        </div>
        </div>
      </section>

<!--sezione 6 -->
      <section class="sez-6 d-flex justify-content-center align-items-center">

        <div class="container d-flex justify-content-center">
          <div class="row info-sez-6">

            <!-- devo inserire tre colonne uguali farne una e duplicarla -->
            <div class="col d-flex flex-column justify-content-around align-items-center">
              <img src="img/law_7.jpg" alt="Responsive image">
              <div class="title">
                <h4>INTERNATIONAL</h4>
              </div>
              <div class="paragrafo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>

            </div>

            <div class="col d-flex flex-column justify-content-around align-items-center">
              <img src="img/law_8.jpg" alt="Responsive image">
              <div class="title">
                <h4>PARTNERSHIPS</h4>
              </div>
              <div class="paragrafo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>

            </div>

            <div class="col d-flex flex-column justify-content-around align-items-center">
              <img src="img/law_3.jpg" alt="Responsive image">
              <div class="title">
                <h4>EXCELLENCE</h4>
              </div>
              <div class="paragrafo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>

            </div>

          </div>
        </div>

      </section>

<!-- sezione 7 -->
      <section class="sez-7 d-flex justify-content-center align-items-center">
          <div class="container d-flex justify-content-center">
          <div class="row info-sez-7">
            <div  class="col p-2 d-flex flex-column justify-content-around align-items-center">
              <div class="title">
                <h5 id="white">LET’S WORK TOGETHER</h5>
              </div>
              <div class="hr">

              </div>
              <p id="white">“We have worked with Avada Law for the past 15 years. As we have grown and evolved, what I have valued most about our relationship is that Avada Law know us and our business.”</p>
              <button type="button" name="button" id="btn-green" class="btn btn-primary btn-lg"> MAKE ENQUIRY</button>
            </div>
          </div>
          </div>
        </section>


      </div>
    </main>

<!-- footer -->
    <footer class="container-fluid d-flex  justify-content-center align-items-center">

        <div class="container d-flex flex-column justify-content-around align-items-center">
          <div class="row">
            <div class="col d-flex align-items-center">
              <h6>CALL OUR EXPERTS TODAY {{numeroTel}} </h6>
            </div>
          </div>

          <div class="row">

            <!-- info footer -->
            <div class="col d-flex align-items-center">
              <p>{{infoFooter}}</p>
            </div>

            <!-- colonna social -->
            <div class="col-2 d-flex justify-content-around align-items-center ">
              <a v-for="icon in arraySocial"href="#">
                <i :class="icon"> </i>
              </a>
            </div>
          </div>
        </div>

    </footer>



    <script src="js/script.js"></script>
  </div>
  </body>
</html>
